{include file="common/head" /}
<body>
<div class="wrap">
    <div class="page-title">
        <span class="modular fl"><i class="edit_user"></i><em>认证资料</em></span>
    </div>
    <form action="update" method="post">
        <input type="hidden" class="textBox length-middle" name="a_id" />
        <table class="list-style">
            <tr>
                <td style="text-align:right;">产权人：</td>
                <td>
                    <input type="text" class="textBox length-short"/>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">房产证号：</td>
                <td>
                    <input type="text" class="textBox length-long"/>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">身份证号：</td>
                <td>
                    <input type="text" class="textBox length-long"/>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">房本照片：</td>
                <td>
                    <input type="file"  multiple="multiple" id="chanpinzhutu1" class="hide"/>
                    <label for="chanpinzhutu1" class="labelBtn2">本地上传(最多选择N张)</label>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"></td>
                <td>
                    <img src="#" width="80" height="80"/>
                    <img src="#" width="80" height="80"/>
                </td>
            </tr>
            
        </table>
    </form>

</div>

<div class="wrap">
    <div class="page-title">
        <span class="modular fl"><i class="add"></i><em>房源详情</em></span>
    </div>
    <form action="product_list.html">
        <table class="list-style">
            <tr>
                <td style="text-align:right;width:15%;">地址：</td>
                <td>
                    省：<input type="text" class="textBox length-short"/>
                    市：<input type="text" class="textBox length-short"/>
                    区/县：<input type="text" class="textBox length-short"/>
                    乡/镇：<input type="text" class="textBox length-short"/>
                    小区：<input type="text" class="textBox length-short"/>
                    <input type="text" class="textBox length-long"/>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;width:15%;">房屋情况：</td>
                <td>
                    <input type="text" class="textBox length-short"/>：室
                    <input type="text" class="textBox length-short"/>：卫
                    <input type="text" class="textBox length-short"/>：厅
                    <input type="text" class="textBox length-short"/>：楼，
                    朝向：<input type="text" class="textBox length-short"/>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">房屋配置：</td>
                <td>
                    <input type="checkbox" name="tuijian" id="rexiao1"/><label for="rexiao1">宽带</label>
                    <input type="checkbox" name="tuijian" id="rexiao2"/><label for="rexiao2">床</label>
                    <input type="checkbox" name="tuijian" id="rexiao3"/><label for="rexiao3">衣柜</label>
                    <input type="checkbox" name="tuijian" id="rexiao4"/><label for="rexiao4">沙发</label>
                    <input type="checkbox" name="tuijian" id="rexiao5"/><label for="rexiao5">桌椅</label>
                    <input type="checkbox" name="tuijian" id="rexiao6"/><label for="rexiao6">电视</label>
                    <input type="checkbox" name="tuijian" id="rexiao7"/><label for="rexiao7">空调</label>
                    <input type="checkbox" name="tuijian" id="rexiao8"/><label for="rexiao8">洗衣机</label>
                    <input type="checkbox" name="tuijian" id="rexiao9"/><label for="rexiao9">冰箱</label>
                    <input type="checkbox" name="tuijian" id="rexiao10"/><label for="rexiao10">热水器</label>
                    <input type="checkbox" name="tuijian" id="rexiao11"/><label for="rexiao11">燃气灶</label>
                    <input type="checkbox" name="tuijian" id="rexiao12"/><label for="rexiao12">抽烟机</label>
                    <input type="checkbox" name="tuijian" id="rexiao13"/><label for="rexiao13">电磁炉</label>
                    <input type="checkbox" name="tuijian" id="rexiao14"/><label for="rexiao14">独立卫生间</label>
                    <input type="checkbox" name="tuijian" id="rexiao15"/><label for="rexiao15">阳台</label>
                    <input type="checkbox" name="tuijian" id="rexiao16"/><label for="rexiao16">可做饭</label>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">出租要求：</td>
                <td>
                    <input type="checkbox" name="tuijian" id="xiao1"/><label for="xiao1">只限女生</label>
                    <input type="checkbox" name="tuijian" id="xiao2"/><label for="xiao2">一家人</label>
                    <input type="checkbox" name="tuijian" id="xiao3"/><label for="xiao3">禁止养宠物</label>
                    <input type="checkbox" name="tuijian" id="xiao4"/><label for="xiao4">半年起租</label>
                    <input type="checkbox" name="tuijian" id="xiao5"/><label for="xiao5">一年起租</label>
                    <input type="checkbox" name="tuijian" id="xiao6"/><label for="xiao6">租户稳定</label>
                    <input type="checkbox" name="tuijian" id="xiao7"/><label for="xiao7">作息正常</label>
                    <input type="checkbox" name="tuijian" id="xiao8"/><label for="xiao8">禁烟</label>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">租金包含费用：</td>
                <td>
                    <input type="checkbox" name="tuijian" id="xiao21"/><label for="xiao1">水费</label>
                    <input type="checkbox" name="tuijian" id="xiao22"/><label for="xiao2">电费</label>
                    <input type="checkbox" name="tuijian" id="xiao23"/><label for="xiao3">燃气费</label>
                    <input type="checkbox" name="tuijian" id="xiao24"/><label for="xiao4">宽带费</label>
                    <input type="checkbox" name="tuijian" id="xiao25"/><label for="xiao5">物业费</label>
                    <input type="checkbox" name="tuijian" id="xiao26"/><label for="xiao6">有限电视费</label>
                    <input type="checkbox" name="tuijian" id="xiao27"/><label for="xiao7">停车</label>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">是否整租：</td>
                <td>
                    <select class="textBox">
                        <option>是</option>
                        <option>否</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">有无电梯：</td>
                <td>
                    <select class="textBox">
                        <option>有</option>
                        <option>无</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">负责人电话：</td>
                <td>
                    <input type="text" class="textBox length-long"/>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">负责人地址：</td>
                <td>
                    <input type="text" class="textBox length-long"/>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">租金：</td>
                <td>
                    <input type="text" class="textBox length-short"/>
                    <span>元</span>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">付款方式：</td>
                <td>
                    <select class="inline-select">
                        <option>--付款方式--</option>
                        <option>压一付一</option>
                        <option>压一付三</option>
                        <option>半年付</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">房源描述：</td>
                <td><textarea class="textarea">...这里直接调用文本编辑器...移除此处的“textarea”即可</textarea></td>
            </tr>
            <tr>
                <td style="text-align:right;">门锁密码：</td>
                <td>
                    <input type="text" class="textBox length-long"/>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">接听电话时间：</td>
                <td>
                    <input type="text" class="textBox length-long"/>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">详情照片：</td>
                <td>
                    <input type="file"  multiple="multiple" id="chanpinzhutu" class="hide"/>
                    <label for="chanpinzhutu" class="labelBtn2">本地上传(最多选择N张)</label>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"></td>
                <td>
                    <img src="#" width="80" height="80"/>
                    <img src="#" width="80" height="80"/>
                    <img src="#" width="80" height="80"/>
                    <img src="#" width="80" height="80"/>
                    <img src="#" width="80" height="80"/>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"></td>
                <td><input type="submit" value="修改" class="tdBtn"/></td>
            </tr>
        </table>
</div>
</body>
</html>