{include file="common/head" /}
<style>
    .many-rule{

    }
</style>

<body>
<div class="wrap">
    <div class="page-title">
        <span class="block fl"><i class="order"></i><em>用户列表</em></span>
    </div>
    <div class="operate">
    </div>
    <table class="list-style">
        <tr>
            <th>名称</th>
            <th>手机号</th>
            <th>申请时间</th>
            <th>操作</th>
        </tr>
        <tr>
            <td class="center">
                <a href="order_detail.html">admin</a>
            </td>
            <td class="center" >
                <span class="block">13868686969</span>
            </td>
            <td class="center">
                <span class="block">2019-05-21 8:32:32</span>
            </td>
            <td class="center" width="260">
                <a href="update.html" class="inline-block" title="查看"><img src="{$Think.PROJECT_PATH}/public/static/ht/model/images/icon_view.gif"/></a>
                <a class="inline-block" title="删除"><img src="{$Think.PROJECT_PATH}/public/static/ht/model/images/icon_trash.gif"/></a>
            </td>
        </tr>
    </table>
    <!-- BatchOperation -->
    <div style="overflow:hidden;">
    </div>
</div>
</body>
</html>