{include file="common/head" /}
<body>
<div class="wrap">
    <div class="page-title">
        <span class="block fl"><i class="order"></i><em>认证/申请列表</em></span>
    </div>
    <div class="operate">
        <form>
            <select class="inline-select">
                <option>--申请状态--</option>
                <option value="2">--申请中--</option>
                <option value="2">--通过--</option>
                <option value="-1">--未通过--</option>
            </select>
            <select class="inline-select">
                <option>--申请类型--</option>
                <option value="1">--职业房东--</option>
                <option value="2">--职业经纪人--</option>
                <option value="3">房源转至青年公寓</option>
                <option value="4">--房产认证--</option>
                <option value="5">--实名认证--</option>
            </select>
            <input type="button" value="查询" class="tdBtn"/>
        </form>
    </div>
    <table class="list-style">
        <tr>
            <th class="center">编号</th>
            <th class="center">申请用户</th>
            <th class="center">申请类型</th>
            <th class="center">申请状态</th>
            <th class="center">发起时间</th>
            <th class="center">操作</th>
        </tr>
        <?php if(!empty($list)){ ?>
        <?php foreach($list as $k => $v){ ?>
            <tr>
                <td class="center">
                    <a href="order_detail.html"><?php echo $k; ?></a>
                </td>
                <td class="center">
                    <span class="block"><?php echo $v['u_name']; ?></span>
                </td>
                <td class="center" >
                    <span class="block"><?php echo shenqing_level($v['s_level']) ; ?></span>
                </td>
                <td class="center" >
                    <span class="block"><?php echo shenqing_status($v['s_status']) ; ?></span>
                </td>
                <td class="center">
                    <span class="block"><?php echo date('Y-m-d H:i:s',$v['s_ctime']); ?></span>
                </td>
                <td class="center" width="260">
                    <a href="/admin/shenqing/detail?id=<?php echo $v['s_id']; ?>" class="inline-block" title="查看"><img src="{$Think.PROJECT_PATH}/public/static/ht/model/images/icon_view.gif"/></a>
                    <a class="inline-block" title="删除"><img src="{$Think.PROJECT_PATH}/public/static/ht/model/images/icon_trash.gif"/></a>
                </td>
            </tr>
        <?php }} ?>
    </table>
    <!-- BatchOperation -->
    <div style="overflow:hidden;">
        <!-- Operation -->
        <div class="BatchOperation fl">
            <input type="button" value="打印" class="btnStyle"/>
        </div>
        <!-- turn page -->
        <div class="turnPage center fr">
            <a>第一页</a>
            <a>1</a>
            <a>最后一页</a>
        </div>
    </div>
</div>
</body>
</html>