{include file="common/head" /}
<body>
 <div class="wrap">
  <div class="page-title">
     <span class="modular fl"><i class="edit_user"></i><em>编辑用户资料</em></span>
  </div>
  <form action="update" method="post">
      <input type="hidden" class="textBox length-middle" name="a_id" />
     <table class="list-style">
    <tr>
     <td style="width:15%;text-align:right;">会员昵称：</td>
     <td><input type="text" class="textBox length-middle" name="a_name" /></td>
    </tr>
    <tr>
     <td style="text-align:right;">手机号码：</td>
     <td><input type="text" class="textBox length-middle" name="a_phone" /></td>
    </tr>
     <tr>
         <td style="text-align:right;">注册时间：</td>
         <td><input type="text"  class="textBox length-middle" /></td>
     </tr>
     <tr>
         <td style="text-align:right;">申请时间：</td>
         <td><input type="text"  class="textBox length-middle" /></td>
     </tr>
    <tr>
     <td style="text-align:right;">角色：</td>
     <td>
         <input type="checkbox" name="tuijian" id="jingpin1"/>
         <label for="jingpin1">租客</label>
         <input type="checkbox" name="tuijian" id="jingpin2"/>
         <label for="jingpin2">房东</label>
         <input type="checkbox" name="tuijian" id="jingpin3"/>
         <label for="jingpin3">职业房东</label>
         <input type="checkbox" name="tuijian" id="jingpin4"/>
         <label for="jingpin4">职业经纪人</label>
     </td>
    </tr>
         <tr>
             <td style="text-align:right;">证件照片：</td>
             <td><input type="image"  class="textBox " /></td>
         </tr>
         <tr>
             <td style="text-align:right;">真是姓名：</td>
             <td><input type="text"  class="textBox length-long" /></td>
         </tr>
         <tr>
             <td style="text-align:right;">省：</td>
             <td><input type="text"  class="textBox length-short" /></td>
         </tr>
         <tr>
             <td style="text-align:right;">市：</td>
             <td><input type="text"  class="textBox length-short" /></td>
         </tr>
         <tr>
             <td style="text-align:right;">区：</td>
             <td><input type="text"  class="textBox length-short" /></td>
         </tr>
    <tr>
     <td style="text-align:right;"></td>
        <style>
            .agree{
                color: #fff;
                background-color: #337ab7;
                border-color: #2e6da4;
            }
            .no-agree{
                color: #fff;
                background-color: #d9534f;
                border-color: #d43f3a;
            }
        </style>
     <td><input type="button" class="tdBtn agree" value="通过"/><input type="button" class="tdBtn no-agree" value="拒绝"/></td>
     <td></td>
    </tr>
   </table>
  </form>

 </div>
</body>
</html>