<!DOCTYPE html>
<html>
<head>
 <title>后台管理系统</title>
 <meta  charset="utf-8">
 <base href="{$Think.PROJECT_PATH}/admin/" target="mainCont"/>
 <link rel="stylesheet" href="{$Think.PROJECT_PATH}/public/static/ht/model/style/adminStyle.css"  />
</head>
<style>
 html{overflow-y:scroll;}
 html body{background:#313131;margin-bottom:46px;}
</style>
<body>
<div class="menu-list">
 <ul>
  <li class="menu-list-title">
   <span>管理员管理</span>
   <i>◢</i>
  </li>
  <li >
   <ul class="menu-children">
    <li><a href="admin.html" title="管理员列表" >管理员列表</a></li>
    <li><a href="admin/add" title="管理员添加" >管理员添加</a></li>
   </ul>
  </li>
  <li class="menu-list-title">
   <span>用户管理</span>
   <i>◢</i>
  </li>
  <li >
   <ul class="menu-children">
    <li><a href="user.html" title="用户列表" >用户列表</a></li>
    <li><a href="user/add" title="用户添加" >用户添加</a></li>
   </ul>
  </li>
  <li class="menu-list-title">
   <span>申请/认证</span>
   <i>◢</i>
  </li>
  <li >
   <ul class="menu-children">
    <li><a href="shenqing/user.html" title="申请管理" >申请职业房东</a></li>
    <li><a href="shenqing/house.html" title="申请管理" >申请职业经纪人</a></li>
    <li><a href="shenqing/index.html" title="申请管理" >房源认证申请</a></li>
   </ul>
  </li>
  <li class="menu-list-title">
   <span>房源管理</span>
   <i>◢</i>
  </li>
  <li >
   <ul class="menu-children">
    <li><a href="house.html" title="房源列表" >房源列表</a></li>
    <li><a href="house/add" title="商品添加" >商品添加</a></li>
   </ul>
  </li>
  <!--<li class="menu-list-title">-->
   <!--<span>会员管理</span>-->
   <!--<i>◢</i>-->
  <!--</li>-->
  <!--<li>-->
   <!--<ul class="menu-children">-->
    <!--<li><a href="user_list.html" title="会员列表" >会员列表</a></li>-->
    <!--<li><a href="user_add.html" title="添加会员" >添加会员</a></li>-->
    <!--<li><a href="user_rank.html" title="会员等级" >会员等级</a></li>-->
    <!--<li><a href="user_message.html" title="会员留言" >会员留言</a></li>-->
   <!--</ul>-->
  <!--</li>-->

  <!--<li class="menu-list-title">-->
   <!--<span>系统设置</span>-->
   <!--<i>◢</i>-->
  <!--</li>-->
  <!--<li>-->
   <!--<ul class="menu-children">-->
    <!--<li><a href="web_basic_settings.html" title="站点基本设置" >站点基本设置</a></li>-->
    <!--<li><a href="admin_list.html" title="站点基本设置" >站点管理员</a></li>-->
   <!--</ul>-->
  <!--</li>-->

  <li class="menu-list-title">
   <span>预约管理</span>
   <i>◢</i>
  </li>
  <li>
   <ul class="menu-children">
    <li><a href="meet/index.html" title="预约管理" >预约列表</a></li>
   </ul>
  </li>
  <li class="menu-list-title">
   <span>代金券管理</span>
   <i>◢</i>
  </li>
  <li>
   <ul class="menu-children">
    <li><a href="coupon/index.html" title="代金券管理" >代金券列表</a></li>
   </ul>
  </li>
  <li class="menu-list-title">
   <span>交易管理</span>
   <i>◢</i>
  </li>
  <li>
   <ul class="menu-children">
    <li><a href="jiaoyi/index.html" title="交易管理" >交易列表</a></li>
   </ul>
  </li>
  <li class="menu-list-title">
   <span>唯家管理</span>
   <i>◢</i>
  </li>
  <li>
   <ul class="menu-children">
    <li><a href="record/update/.html" title="唯家管理" >查看</a></li>
   </ul>
  </li>
 </ul>
</div>


<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script>
 //左侧菜单标题点击事件
 $('.menu-list-title').click(function(){
  $(this).next('li').slideToggle('1500');
 });
 //左侧菜单子标题点击事件
 $(".menu-children li").click(function(){
  $(".menu-children li").css({background:'none'});
  $(this).css({background:'#F75E5E'});
 });
</script>
</body>
</html>