<!DOCTYPE html>
<html>
<head>
 <title>后台管理系统</title>
 <meta  charset="utf-8">
 <base href="{$Think.PROJECT_PATH}/admin/" target="mainCont"/>
 <link rel="stylesheet" href="{$Think.PROJECT_PATH}/public/static/ht/model/style/adminStyle.css"  />
</head>
<style>
 html{overflow-y:hidden;}
</style>
<body>
<div class="header">
 <div class="fl  logo">
  <img src="{$Think.PROJECT_PATH}/public/static/ht/model/images/admin_logo.png" title="logo"/>
 </div>
 <div class="fr top-link">
  <a href="/" target="_blank" title="访问站点"><i class="shopLinkIcon"></i><span>访问站点</span></a>
  <a href="admin_list.html" title="管理员"><i class="adminIcon"></i><span>管理员：DeathGhost</span></a>
  <a href="javascript:void(0)" title="清除缓存"><i class="clearIcon"></i><span>清除缓存</span></a>
  <a href="admin/revise_pwd" title="修改密码"><i class="revisepwdIcon"></i><span>修改个人密码</span></a>
  <a href="login/login_out" title="安全退出" target="_top" ><i class="quitIcon" ></i><span>安全退出</span></a>
 </div>
</div>
</body>
</html>