{include file="common/head" /}
<body>
<div class="wrap">
    <div class="page-title">
        <span class="block fl"><i class="order"></i><em>管理员列表</em></span>
    </div>
    <div class="operate">
        <form>
            <select class="inline-select">
                <option>--所有--</option>
                <option>总管</option>
                <option>主管</option>
                <option>员工</option>
            </select>
            <input type="button" value="查询" class="tdBtn"/>
        </form>
    </div>
    <table class="list-style">
        <tr>
            <th>名称</th>
            <th>级别</th>
            <th>创建时间</th>
            <th>最后修改时间</th>
            <th>手机号</th>
            <th>邮箱</th>
            <th>操作</th>
        </tr>
        <?php if(!empty($list)){ ?>
        <?php foreach($list as $v){ ?>
            <tr>
                <td class="center">
                    <span class="block"><?php echo $v['a_name']; ?></span>
                </td>
                <td class="center">
                    <span class="block"><?php echo admin_level($v['a_level']) ; ?></span>
                </td>
                <td class="center" >
                    <span class="block"><?php echo date('Y-m-d H:i:s',$v['a_ctime']) ?></span>
                </td>
                <td class="center" >
                    <span class="block"><?php echo date('Y-m-d H:i:s',$v['a_utime']) ?></span>
                </td>
                <td class="center">
                    <span class="block"><?php echo $v['a_phone']; ?></span>
                </td>
                <td class="center">
                    <span class="block"><?php echo $v['a_email']; ?></span>
                </td>
                <td class="center" width="260">
                    <a href="/admin/admin/update?id=<?php echo $v['a_id'] ?>" class="inline-block" title="查看"><img src="{$Think.PROJECT_PATH}/public/static/ht/model/images/icon_view.gif"/></a>
                    <a class="inline-block" onclick="del(<?php echo $v['a_id'] ?>)" title="删除"><img src="{$Think.PROJECT_PATH}/public/static/ht/model/images/icon_trash.gif"/></a>
                </td>
            </tr>
        <?php }} ?>
    </table>
</div>
    {$page}
<style>
    .pagination{
        width: 300px;
        overflow: hidden;
        margin: 0 auto;
    }
    .pagination li{
        display: inline;
        margin: 0 5px;
        font-size: 16px;
    }
</style>
    <!-- BatchOperation -->
    <!--<div style="overflow:hidden;">-->
        <!-- Operation -->
        <!-- turn page -->
        <!--<div class="turnPage center fr">-->
            <!--<a>第一页</a>-->
            <!--<a>1</a>-->
            <!--<a>最后一页</a>-->
        <!--</div>-->

    <!--</div>-->


</body>
<script>
    function del(obj){
        if(confirm('确定删除？')){
            $.post('/admin/admin/del',{id:obj},function(result){
                location.replace(location);
            })
        }
    }
</script>
</html>