{include file="common/head" /}
<body>
<div class="wrap">
    <div class="page-title">
        <span class="modular fl"><i class="add_user"></i><em>服务添加</em></span>
    </div>
    <form action="/admin/fuwu/add" method="post"  enctype="multipart/form-data">
        <table class="list-style">
            <tr>
                <td style="text-align:right;">预约人：</td>
                <td>
                    <select name="u_id" class="textBox">
                        <option >--请选择--</option>
                        <?php foreach($users as $v){ ?>
                            <option value="<?php echo $v['u_id']; ?>"><?php echo $v['u_name']; ?></option>
                        <?php } ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">服务项目：</td>
                <td>
                    <select name="f_level" class="textBox">
                        <option value="0" >--请选择--</option>
                        <option value="1" >--维修--</option>
                        <option value="2" >--保洁--</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">问题描述：</td>
                <td><textarea name="f_description" class="textarea"></textarea></td>
            </tr>
            <style>
                #house_uploads>div{
                    float:left;
                    width:130px;
                    height:130px;
                    margin-right: 5px;
                }
                .house_img_many{
                    /*width: 130px;*/
                    /*height: 130px;*/
                    line-height: 130px;
                    text-align: center;
                    background: #96aecd;
                    font-size: 66px;
                    color: #fff;
                }
                .house_img_many_div{
                    position: relative;
                    border: 1px solid #666;
                }
                .house_img_many_div input{
                    width: 85px;
                    height: 36px;
                    border: 1px solid #666;
                }
                .house_img_many_div span{
                    width: 41px;
                    display: block;
                    height: 36px;
                    position: absolute;
                    top: 0px;
                    left: 86px;
                    line-height: 32px;
                    text-align: center;
                    font-size: 30px;
                    background: red;
                    color: #fff;
                }
                .house_img_many_div div{
                    width: 100%;
                    height: 90px;
                }
                .house_img_many_div div img{
                    width: 100%;
                    height: 100%;
                }
            </style>

            <tr>
                <td style="text-align:right;">详情照片：</td>
                <td id="house_uploads">
                    <div class="house_img_many" id="house_img_many">+</div>
                    <div class="house_img_many_div" id="house_img_many_div1" data-id="1">
                        <input type="file" name="f_uploads[]"  class="textBox " id="up_img1" /><span onclick="del_upload(0)">-</span><div id="imgdiv1"><img src="" id="img_img1" width="100" height="100" /></div>
                    </div>
                </td>
            </tr>
            <script>
                $('#house_img_many').on('click',function(){
                    var height = $('#house_uploads').children("div:last-child").attr('data-id');
                    var num = ++height;
                    var dome = $('#house_uploads');
                    dome.append("<div class='house_img_many_div' id='house_img_many_div"+num+"' data-id='"+num+"'> <input type='file' name='f_uploads[]'  class='textBox' id='up_img"+num+"' /> <span onclick='del_upload("+num+")'>-</span><div id='imgdiv"+num+"'><img src='' id='img_img"+num+"' width='100' height='100' /></div></div>")
                    new uploadPreview({ UpBtn: "up_img"+num, DivShow: "imgdiv"+num, ImgShow: "img_img"+num });
                })
                function del_upload(obj){
                    $('#house_img_many_div'+obj).remove();
                }
            </script>
            <script>
                window.onload = function () {
                    new uploadPreview({ UpBtn: "up_img1", DivShow: "imgdiv1", ImgShow: "img_img1" });
                }
            </script>
            <tr>
                <td style="text-align:right;"></td>
                <td><input type="submit" class="tdBtn" value="预约"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>