{include file="common/head" /}
<body>
 <div class="wrap">
  <div class="page-title">
     <span class="modular fl"><i class="edit_user"></i><em>支付详情</em></span>
  </div>
  <form action="update" method="post">
     <table class="list-style">
    <tr>
     <td style="width:15%;text-align:right;">转出者：</td>
     <td><input type="text" class="textBox length-middle" name="a_name" value="张三"/></td>
    </tr>
     <tr>
         <td style="width:15%;text-align:right;">应付金额：</td>
         <td><input type="text" class="textBox length-middle" name="a_name" value="2400"/></td>
     </tr>
     <tr>
         <td style="text-align:right;">类型：</td>
         <td>
             <select name="a_level" class="textBox">
                 <option>--租房--</option>
                 <option>--房租--</option>
                 <option>--保洁费--</option>
                 <option>--维修费--</option>
                 <option>--水费--</option>
                 <option>--电费--</option>
                 <option>--燃气费--</option>
             </select>
         </td>
     </tr>
     <tr>
         <td style="width:15%;text-align:right;">实付金额：</td>
         <td><input type="text" class="textBox length-middle" name="a_name" value="2200"/></td>
     </tr>
     <tr>
         <td style="width:15%;text-align:right;">收款方：</td>
         <td><input type="text" class="textBox length-middle" name="a_name" value="李四"/></td>
     </tr>
     <tr>
         <td style="text-align:right;">转账时间：</td>
         <td><input type="text" disabled class="textBox length-middle" value="2019-04-05  13:22:22"/></td>
     </tr>
     <tr>
         <td style="text-align:right;">是否使用代金券：</td>
         <td>
             <select name="a_level" class="textBox">
                 <option value="1">--是--</option>
                 <option value="2">--否--</option>
             </select>
         </td>
     </tr>
     <tr>
         <td style="text-align:right;">代金券金额：</td>
         <td><input type="text"  class="textBox length-middle" value="200"/></td>
     </tr>
     <tr>
         <td style="text-align:right;">代金券编号：</td>
         <td><input type="text" disabled class="textBox length-middle" value="32"/></td>
     </tr>
     <tr>
         <td style="text-align:right;">房源编号：</td>
         <td><input type="text" disabled class="textBox length-middle" value="45"/></td>
     </tr>
    <tr>
     <td style="text-align:right;"></td>
     <td><input type="submit" class="tdBtn" value="更新保存"/></td>
    </tr>
   </table>
  </form>

 </div>
</body>
</html>