{include file="common/head" /}
<body>
<div class="wrap">
    <div class="page-title">
        <span class="modular fl"><i class="add"></i><em>房源详情</em></span>
    </div>
    <form action="product_list.html">
        <table class="list-style">
            <tr>
                <td style="text-align:right;width:15%;">地址：</td>
                <td>
                    省：<input type="text" name="h_province" class="textBox length-short"/>
                    市：<input type="text" name="h_city" class="textBox length-short"/>
                    区/县：<input type="text" name="h_area" class="textBox length-short"/>
                    乡/镇：<input type="text" name="h_town" class="textBox length-short"/>
                    小区：<input type="text" name="h_qv" class="textBox length-short"/>
                    <input type="text" name="h_addr" class="textBox length-long"/>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;width:15%;">房屋情况：</td>
                <td>
                    <input type="text" name="h_shi" class="textBox length-short"/>：室
                    <input type="text" name="h_wei" class="textBox length-short"/>：卫
                    <input type="text" name="h_ting" class="textBox length-short"/>：厅
                    <input type="text" name="h_floor" class="textBox length-short"/>：楼(层)，
                    朝向：<input type="text" name="h_xiang" class="textBox length-short"/>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">房屋配置：</td>
                <td>
                    <input type="checkbox" name="h_config['kuandai']" value="1" id="rexiao1"/><label for="rexiao1">宽带</label>
                    <input type="checkbox" name="h_config['chuan']" value="1"  id="rexiao2"/><label for="rexiao2">床</label>
                    <input type="checkbox" name="h_config['yigui']" id="rexiao3"/><label for="rexiao3">衣柜</label>
                    <input type="checkbox" name="h_config['shafa']" id="rexiao4"/><label for="rexiao4">沙发</label>
                    <input type="checkbox" name="h_config['zhuoyi']" id="rexiao5"/><label for="rexiao5">桌椅</label>
                    <input type="checkbox" name="h_config['dianshi']" id="rexiao6"/><label for="rexiao6">电视</label>
                    <input type="checkbox" name="h_config[''kongtiao]" id="rexiao7"/><label for="rexiao7">空调</label>
                    <input type="checkbox" name="h_config['xiyiji']" id="rexiao8"/><label for="rexiao8">洗衣机</label>
                    <input type="checkbox" name="h_config['bingxiang']" id="rexiao9"/><label for="rexiao9">冰箱</label>
                    <input type="checkbox" name="h_config['reshuiqi']" id="rexiao10"/><label for="rexiao10">热水器</label>
                    <input type="checkbox" name="h_config['ranqizao']" id="rexiao11"/><label for="rexiao11">燃气灶</label>
                    <input type="checkbox" name="h_config['chouyanji']" id="rexiao12"/><label for="rexiao12">抽烟机</label>
                    <input type="checkbox" name="h_config['diancilou']" id="rexiao13"/><label for="rexiao13">电磁炉</label>
                    <input type="checkbox" name="h_config['weishenjian']" id="rexiao14"/><label for="rexiao14">独立卫生间</label>
                    <input type="checkbox" name="h_config['yangtai']" id="rexiao15"/><label for="rexiao15">阳台</label>
                    <input type="checkbox" name="h_config['zuofan']" id="rexiao16"/><label for="rexiao16">可做饭</label>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">出租要求：</td>
                <td>
                    <input type="checkbox" name="h_ask['nvsheng']" id="xiao1"/><label for="xiao1">只限女生</label>
                    <input type="checkbox" name="h_ask['yijiaren']" id="xiao2"/><label for="xiao2">一家人</label>
                    <input type="checkbox" name="h_ask['chongwu']" id="xiao3"/><label for="xiao3">禁止养宠物</label>
                    <input type="checkbox" name="h_ask['bannianqizu']" id="xiao4"/><label for="xiao4">半年起租</label>
                    <input type="checkbox" name="h_ask['yinianqizu']" id="xiao5"/><label for="xiao5">一年起租</label>
                    <input type="checkbox" name="h_ask['zuhuwending']" id="xiao6"/><label for="xiao6">租户稳定</label>
                    <input type="checkbox" name="h_ask['zuoxizhengchang']" id="xiao7"/><label for="xiao7">作息正常</label>
                    <input type="checkbox" name="h_ask['jinyan']" id="xiao8"/><label for="xiao8">禁烟</label>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">租金包含费用：</td>
                <td>
                    <input type="checkbox" name="h_inmoney['']" id="xiao21"/><label for="xiao1">水费</label>
                    <input type="checkbox" name="h_inmoney['']" id="xiao22"/><label for="xiao2">电费</label>
                    <input type="checkbox" name="h_inmoney['']" id="xiao23"/><label for="xiao3">燃气费</label>
                    <input type="checkbox" name="h_inmoney['']" id="xiao24"/><label for="xiao4">宽带费</label>
                    <input type="checkbox" name="h_inmoney['']" id="xiao25"/><label for="xiao5">物业费</label>
                    <input type="checkbox" name="h_inmoney['']" id="xiao26"/><label for="xiao6">有限电视费</label>
                    <input type="checkbox" name="h_inmoney['']" id="xiao27"/><label for="xiao7">停车</label>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">是否整租：</td>
                <td>
                    <select name="h_state" class="textBox">
                        <option value="0">--不限--</option>
                        <option value="1">--整租--</option>
                        <option value="2">--合租--</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">出租状态：</td>
                <td>
                    <select name="h_level" class="textBox">
                        <option value="0">--不限--</option>
                        <option value="1">--出租中--</option>
                        <option value="2">--下架--</option>
                        <option value="-1">--已租出--</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">房源展示平台：</td>
                <td>
                    <select name="h_status" class="textBox">
                        <option value="0">--不限--</option>
                        <option value="1">--快租房--</option>
                        <option value="2">--青年公寓--</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">有无电梯：</td>
                <td>
                    <select name="h_elevator" class="textBox">
                        <option value="0">--不限--</option>
                        <option value="0">--有--</option>
                        <option value="0">--无--</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">租金：</td>
                <td>
                    <input name="h_money" type="text" class="textBox length-short"/>
                    <span>元</span>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">面积：</td>
                <td>
                    <input name="h_money" type="text" class="textBox length-short"/>
                    <span>m³</span>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">入住时间：</td>
                <td>
                    <input name="h_in" type="text" class="textBox length-short"/>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">宜住人数：</td>
                <td>
                    <input name="h_many" type="text" class="textBox length-short"/>
                    <span>人</span>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">门锁密码：</td>
                <td>
                    <input type="text" name="h_lock" class="textBox length-long"/>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">接听电话时间：</td>
                <td>
                    <input type="text" name="h_listen" class="textBox length-long"/>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">付款方式：</td>
                <td>
                    <select name="r_rule" class="inline-select">
                        <option value='0'>--不限--</option>
                        <option value="1" >压一付一</option>
                        <option value="2" >压一付三</option>
                        <option value="3" >半年付</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">房源描述：</td>
                <td><textarea name="h_content" class="textarea">...这里直接调用文本编辑器...移除此处的“textarea”即可</textarea></td>
            </tr>
            <tr>
                <td style="text-align:right;">详情照片：</td>
                <td>
                    <input type="file"  multiple="multiple" id="chanpinzhutu" class="hide"/>
                    <label for="chanpinzhutu" class="labelBtn2">本地上传(最多选择N张)</label>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"></td>
                <td>
                    <img src="#" width="80" height="80"/>
                    <img src="#" width="80" height="80"/>
                    <img src="#" width="80" height="80"/>
                    <img src="#" width="80" height="80"/>
                    <img src="#" width="80" height="80"/>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"></td>
                <td><input type="submit" value="修改" class="tdBtn"/></td>
            </tr>
        </table>
</div>
</body>
</html>