{include file="common/head" /}
<body>
<div class="wrap">
    <div class="page-title">
        <span class="block fl"><i class="order"></i><em>管理员列表</em></span>
    </div>
    <div class="operate">
        <form>
            <img class="edit_top" src="{$Think.PROJECT_PATH}/public/static/ht/model/images/icon_search.gif"/>
            <input type="text" class="textBox length-short" style="width:130px" placeholder="发布人姓名..."/>
            <input type="text" class="textBox length-short" style="width:130px" placeholder="小区名称..."/>
            <select class="inline-select">
                <option>--省--</option>
                <option>上海</option>
            </select>
            <select class="inline-select">
                <option>--市--</option>
                <option>上海市</option>
            </select>
            <select class="inline-select">
                <option>--区/县--</option>
                <option>嘉定区</option>
            </select>
            <select class="inline-select">
                <option>--镇/乡--</option>
                <option>马陆镇</option>
            </select>
            <select class="inline-select">
                <option>--是否受委托--</option>
                <option>受委托</option>
                <option>自主</option>
            </select>
            <select class="inline-select">
                <option>--出租类型--</option>
                <option>整租</option>
                <option>合租</option>
            </select>
            <select class="inline-select">
                <option>--付款方式--</option>
                <option>压一付一</option>
                <option>压一付三</option>
                <option>半年付</option>
            </select>
            <input type="button" value="查询" class="tdBtn"/>
        </form>
    </div>
    <table class="list-style">
        <tr>
            <th class="center">编号</th>
            <th class="center">发布人</th>
            <th class="center">发布平台</th>
            <th class="center">租金</th>
            <th class="center">付款方式</th>
            <th class="center">地址</th>
            <th class="center">操作</th>
        </tr>
        <?php if(!empty($list)){ ?>
        <?php foreach($list as $k => $v){ ?>
        <tr>
            <td class="center">
                <a href="order_detail.html"><?php echo $k; ?></a>
            </td>
            <td class="center">
                <span class="block"><?php echo $v['hu_name']; ?></span>
            </td>
            <td class="center" >
                <span class="block"><?php echo house_status($v['h_status']) ; ?></span>
            </td>
            <td class="center">
                <span class="block"><?php echo $v['h_money']; ?></span>
            </td>
            <td class="center">
                <span class="block"><?php echo $v['h_rule']; ?></span>
            </td>
            <td class="center">
                <span class="block"><?php echo $v['h_province'].'、'.$v['h_city'].'、'.$v['h_area'].'、'.$v['h_town'].'、'.$v['h_qv']; ?></span>
            </td>
            <td class="center" width="260">
                <a href="/admin/house/update?id=<?php echo $v['h_id']; ?>" class="inline-block" title="查看"><img src="{$Think.PROJECT_PATH}/public/static/ht/model/images/icon_view.gif"/></a>
                <a class="inline-block" title="删除"><img src="{$Think.PROJECT_PATH}/public/static/ht/model/images/icon_trash.gif"/></a>
            </td>
        </tr>
        <?php }} ?>
    </table>
    <!-- BatchOperation -->
    <div style="overflow:hidden;">
        <!-- Operation -->
        <div class="BatchOperation fl">
            <input type="button" value="打印" class="btnStyle"/>
        </div>
        <!-- turn page -->
        <div class="turnPage center fr">
            <a>第一页</a>
            <a>1</a>
            <a>最后一页</a>
        </div>
    </div>
</div>
</body>
</html>