{include file="common/head" /}
<body>
<div class="wrap">
    <div class="page-title">
        <span class="block fl"><i class="order"></i><em>管理员列表</em></span>
    </div>
    <div class="operate">
        <form>
            <img class="edit_top" src="{$Think.PROJECT_PATH}/public/static/ht/model/images/icon_search.gif"/>
            <input type="text" class="textBox length-long" style="width:130px" placeholder="邀约人..."/>
            <input type="text" class="textBox length-long" style="width:130px" placeholder="被邀约人..."/>
            <select class="inline-select">
                <option>--预约结果--</option>
                <option>--成功--</option>
                <option>--失败--</option>
            </select>
            <select class="inline-select">
                <option>--省--</option>
                <option>上海</option>
            </select>
            <select class="inline-select">
                <option>--市--</option>
                <option>上海市</option>
            </select>
            <select class="inline-select">
                <option>--区/县--</option>
                <option>嘉定区</option>
            </select>
            <select class="inline-select">
                <option>--镇/乡--</option>
                <option>马陆镇</option>
            </select>
            <select class="inline-select">
                <option>--是否受委托--</option>
                <option>受委托</option>
                <option>自主</option>
            </select>
            <select class="inline-select">
                <option>--出租类型--</option>
                <option>整租</option>
                <option>合租</option>
            </select>
            <select class="inline-select">
                <option>--付款方式--</option>
                <option>压一付一</option>
                <option>压一付三</option>
                <option>半年付</option>
            </select>
            <input type="button" value="查询" class="tdBtn"/>
        </form>
    </div>
    <table class="list-style">
        <tr>
            <th>编号</th>
            <th>预约人</th>
            <th>预约人编号</th>
            <th>电话</th>
            <th>预约时间</th>
            <th>受约人</th>
            <th>房屋编号</th>
            <th>电话</th>
            <th>地址</th>
            <th>是否成功</th>
            <th>操作</th>
        </tr>
        <tr>
            <td class="center">
                <a href="order_detail.html">1</a>
            </td>
            <td class="center">
                <span class="block">张三</span>
            </td>
            <td class="center">
                <span class="block">55</span>
            </td>
            <td class="center">
                <span class="block">15869693636</span>
            </td>
            <td class="center">
                <span class="block">2019-04-05  18:30:00</span>
            </td>
            <td class="center">
                <span class="block">李四</span>
            </td>
            <td class="center">
                <span class="block">66</span>
            </td>
            <td class="center">
                <span class="block">15869693636</span>
            </td>
            <td class="center">
                <span class="block">上海、上海市、嘉定区、马陆镇、清水湾33号楼1204室</span>
            </td>
            <td class="center">
                <span class="block">是</span>
            </td>
            <td class="center" width="260">
                <a href="update" class="inline-block" title="查看"><img src="{$Think.PROJECT_PATH}/public/static/ht/model/images/icon_view.gif"/></a>
                <a class="inline-block" title="删除"><img src="{$Think.PROJECT_PATH}/public/static/ht/model/images/icon_trash.gif"/></a>
            </td>
        </tr>
    </table>
    <!-- BatchOperation -->
    <div style="overflow:hidden;">
        <!-- Operation -->
        <div class="BatchOperation fl">
            <input type="button" value="打印" class="btnStyle"/>
        </div>
        <!-- turn page -->
        <div class="turnPage center fr">
            <a>第一页</a>
            <a>1</a>
            <a>最后一页</a>
        </div>
    </div>
</div>
</body>
</html>