{include file="common/head" /}
<body>
<div class="wrap">
    <div class="page-title">
        <span class="block fl"><i class="order"></i><em>代金券管理</em></span>
    </div>
    <div class="operate">
        <form>
            <input type="text" class="textBox length-long" placeholder="输入用户名..."/>
            <select class="inline-select">
                <option>收付类型</option>
                <option>--收款--</option>
                <option>--付款--</option>
            </select>
            <select class="inline-select">
                <option>支付类型</option>
                <option>--租房--</option>
                <option>--房租--</option>
                <option>--保洁费--</option>
                <option>--维修费--</option>
                <option>--水费--</option>
                <option>--电费--</option>
                <option>--燃气费--</option>
            </select>
            <input type="button" value="查询" class="tdBtn"/>
        </form>
    </div>
    <table class="list-style">
        <tr>
            <th>编号</th>
            <th>转出者</th>
            <th>应付金额</th>
            <th>支付类型</th>
            <th>实付金额</th>
            <th>收款方</th>
            <th>转账时间</th>
            <th>代金券</th>
            <th>房源编号</th>
            <th>操作</th>
        </tr>
            <tr>
                <td class="center">
                    <span class="block">45</span>
                </td>
                <td class="center">
                    <span class="block">张三</span>
                </td>
                <td class="center">
                    <span class="block">2400</span>
                </td>
                <td class="center" >
                    <span class="block">租房</span>
                </td>
                <td class="center" >
                    <span class="block">2200</span>
                </td>
                <td class="center" >
                    <span class="block">李四</span>
                </td>
                <td class="center" >
                    <span class="block">2019-04-05  13:22:22</span>
                </td>
                <td class="center" >
                    <span class="block">200</span>
                </td>
                <td class="center" >
                    <span class="block">45</span>
                </td>
                <td class="center" width="260">
                    <a href="update.html" class="inline-block" title="查看"><img src="{$Think.PROJECT_PATH}/public/static/ht/model/images/icon_view.gif"/></a>
                    <a class="inline-block"  title="删除"><img src="{$Think.PROJECT_PATH}/public/static/ht/model/images/icon_trash.gif"/></a>
                </td>
            </tr>
    </table>
</div>
<style>
    .pagination{
        width: 300px;
        overflow: hidden;
        margin: 0 auto;
    }
    .pagination li{
        display: inline;
        margin: 0 5px;
        font-size: 16px;
    }
</style>
    <!-- BatchOperation -->
    <!--<div style="overflow:hidden;">-->
        <!-- Operation -->
        <!-- turn page -->
        <!--<div class="turnPage center fr">-->
            <!--<a>第一页</a>-->
            <!--<a>1</a>-->
            <!--<a>最后一页</a>-->
        <!--</div>-->

    <!--</div>-->


</body>
<script>
    function del(obj){
        if(confirm('确定删除？')){
            $.post('/admin/admin/del',{id:obj},function(result){
                location.replace(location);
            })
        }
    }
</script>
</html>