{include file="common/head" /}
<body>
 <div class="wrap">
  <div class="page-title">
     <span class="modular fl"><i class="edit_user"></i><em>站点数据</em></span>
  </div>
  <form action="update" method="post">
     <table class="list-style">
     <tr>
         <td style="width:15%;text-align:right;">公司名称：</td>
         <td><input type="text" class="textBox length-middle" name="a_name" value="张三"/></td>
     </tr>
     <tr>
         <td style="width:15%;text-align:right;">网站名称：</td>
         <td><input type="text" class="textBox length-middle" name="a_name" value=""/></td>
     </tr>
     <tr>
         <td style="width:15%;text-align:right;">客服电话：</td>
         <td><input type="text" class="textBox length-middle" name="a_name" value=""/></td>
     </tr>
     <tr>
         <td style="width:15%;text-align:right;">标题：</td>
         <td><input type="text" class="textBox length-middle" name="a_name" value=""/></td>
     </tr>
         <tr>
             <td style="width:15%;text-align:right;">二维码：</td>
             <td><input type="image" class="textBox " name="a_name" value=""/></td>
         </tr>
         <tr>
             <td style="width:15%;text-align:right;">LOGO：</td>
             <td><input type="image" class="textBox " name="a_name" value=""/></td>
         </tr>
     <tr>
         <td style="width:15%;text-align:right;">租客福利券金额：</td>
         <td><input type="text" class="textBox length-middle" name="a_name" value=""/></td>
     </tr>
     <tr>
         <td style="width:15%;text-align:right;">非租福利金券金额：</td>
         <td><input type="text" class="textBox length-middle" name="a_name" value=""/></td>
     </tr>
     <tr>
         <td style="width:15%;text-align:right;">推广A：</td>
         <td><input type="text" class="textBox length-middle" name="a_name" value=""/></td>
     </tr>
     <tr>
         <td style="width:15%;text-align:right;">推广B：</td>
         <td><input type="text" class="textBox length-middle" name="a_name" value=""/></td>
     </tr>
     <tr>
         <td style="width:15%;text-align:right;">关键字：</td>
         <td><textarea class="textarea">...这里直接调用文本编辑器...移除此处的“textarea”即可</textarea></td>
     </tr>
     <tr>
         <td style="width:15%;text-align:right;">描述：</td>
         <td><textarea class="textarea">...这里直接调用文本编辑器...移除此处的“textarea”即可</textarea></td>
     </tr>

     <tr>
         <td style="width:15%;text-align:right;">备案号：</td>
         <td><input type="text" class="textBox length-middle" name="a_name" value=""/></td>
     </tr>
     <tr>
         <td style="text-align:right;">公司地址：</td>
         <td><input type="text" disabled class="textBox length-middle" value=""/></td>
     </tr>
    <tr>
     <td style="text-align:right;"></td>
     <td><input type="submit" class="tdBtn" value="更新保存"/></td>
    </tr>
   </table>
  </form>

 </div>
</body>
</html>