{include file="common/head" /}
<body>
<div class="wrap">
    <div class="page-title">
        <span class="modular fl"><i class="add_user"></i><em>用户添加</em></span>
    </div>
    <form action="add" method="post">
        <table class="list-style">
            <tr>
                <td style="width:15%;text-align:right;">用户昵称：</td>
                <td><input type="text" name="name" class="textBox length-middle"/></td>
            </tr>
            <tr>
                <td style="text-align:right;">手机号：</td>
                <td><input type="text" name="phone" class="textBox length-middle"/></td>
            </tr>
            <tr>
                <td style="text-align:right;">邀请码（邀请别人）：</td>
                <td><input type="text" name="ma" class="textBox length-middle"/></td>
            </tr>
            <tr>
                <td style="text-align:right;">性别：</td>
                <td>
                    <input type="radio" name="sex" value="1" />男
                    <input type="radio" name="sex" value="2" />女
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"></td>
                <td><input type="submit" class="tdBtn" value="添加新用户"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>