<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{$Think.PROJECT_PATH}/public/static/ht/model/style/adminStyle.css" rel="stylesheet" type="text/css" />
    <script  src="{$Think.PROJECT_PATH}/public/static/common/jquery-3.4.1.min.js"></script>
    <script  src="{$Think.PROJECT_PATH}/public/static/common/uploadPreview.js"></script>
</head>
<style>
    .edit_top{
        position: relative;
        top: 6px;
    }
</style>