{include file="common/head" /}
<body>
<div class="wrap">
    <div class="page-title">
        <span class="modular fl"><i class="add_user"></i><em>管理员添加</em></span>
    </div>
    <form action="/admin/record/add" method="post">
        <table class="list-style">
            <tr>
                <td style="text-align:right;">手机号码：</td>
                <td><input type="text" name="r_name" class="textBox length-middle"/></td>
            </tr>
            <tr>
                <td style="text-align:right;"></td>
                <td><input type="submit" class="tdBtn" value="添加新用户"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>