{include file="common/head" /}
<body>
 <div class="wrap">
  <div class="page-title">
     <span class="modular fl"><i class="edit_user"></i><em>站点数据</em></span>
  </div>
  <form action="update" method="post"  enctype="multipart/form-data">
     <table class="list-style">
     <tr>
         <td style="width:15%;text-align:right;">公司名称：</td>
         <td><input type="text" class="textBox length-middle" name="r_name" value="<?php echo $r_name; ?>"/></td>
     </tr>
     <tr>
         <td style="width:15%;text-align:right;">网站名称：</td>
         <td><input type="text" class="textBox length-middle" name="r_www" value="<?php echo $r_www; ?>"/></td>
     </tr>
     <tr>
         <td style="width:15%;text-align:right;">客服电话：</td>
         <td><input type="text" class="textBox length-middle" name="r_server" value="<?php echo $r_server; ?>"/></td>
     </tr>
     <tr>
         <td style="width:15%;text-align:right;">标题：</td>
         <td><input type="text" class="textBox length-middle" name="r_title" value="<?php echo $r_title; ?>"/></td>
     </tr>
         <tr>
             <td style="width:15%;text-align:right;">微信二维码：</td>
             <td>
                 <input type="file" name="r_weima" id="up_img" />
                 <div id="imgdiv">
                     <img src="{$Think.PROJECT_PATH}/public/uploads/<?php echo $r_weima ?>" id="imgShow" width="100" height="100" />
                 </div>
                 <!--<div id="imgdiv"><img scr="{$Think.PROJECT_PATH}/public/uploads/<?php echo $r_weima ?>" id="imgShow" width="100" height="100" /></div>-->
             </td>
         </tr>
         <tr>
             <td style="width:15%;text-align:right;">支付宝二维码：</td>
             <td><input type="file" name="r_zhima" id="up_img1" />
                 <div id="imgdiv1"><img src="{$Think.PROJECT_PATH}/public/uploads/<?php echo $r_zhima ?>"  id="imgShow1" width="100" height="100" /></div></td>
         </tr>
         <tr>
             <td style="width:15%;text-align:right;">LOGO：</td>
             <td><input type="file" name="r_logo" id="up_img2" />
                 <div id="imgdiv2"><img src="{$Think.PROJECT_PATH}/public/uploads/<?php echo $r_logo ?>"  id="imgShow2" width="100" height="100" /></div></td>
         </tr>
         <script>
             window.onload = function () {
                 new uploadPreview({ UpBtn: "up_img", DivShow: "imgdiv", ImgShow: "imgShow" });
                 new uploadPreview({ UpBtn: "up_img1", DivShow: "imgdiv1", ImgShow: "imgShow1" });
                 new uploadPreview({ UpBtn: "up_img2", DivShow: "imgdiv2", ImgShow: "imgShow2" });
             }
         </script>
     <tr>
         <td style="width:15%;text-align:right;">租客福利券金额：</td>
         <td><input type="text" class="textBox length-middle" name="r_coupon0" value="<?php echo $r_coupon0; ?>"/></td>
     </tr>
     <tr>
         <td style="width:15%;text-align:right;">非租福利金券金额：</td>
         <td><input type="text" class="textBox length-middle" name="r_coupon1" value="<?php echo $r_coupon1; ?>"/></td>
     </tr>
     <tr>
         <td style="width:15%;text-align:right;">推广A：</td>
         <td><input type="text" class="textBox length-middle" name="r_first" value="<?php echo $r_first; ?>"/></td>
     </tr>
     <tr>
         <td style="width:15%;text-align:right;">推广B：</td>
         <td><input type="text" class="textBox length-middle" name="r_second" value="<?php echo $r_second; ?>"/></td>
     </tr>
     <tr>
         <td style="text-align:right;">保洁价格：</td>
         <td>
             <input name="r_clear" type="text" value="<?php echo $r_clear ?>"  class="textBox length-short"/>
             <span>㎡/元</span>
         </td>
     </tr>
     <tr>
         <td style="text-align:right;">客服电话：</td>
         <td>
             <input name="r_phone" type="text" value="<?php echo $r_phone ?>"  class="textBox length-long"/>
             <span></span>
         </td>
     </tr>
     <tr>
         <td style="width:15%;text-align:right;">关键字：</td>
         <td><textarea name="r_keywords" class="textarea"><?php echo $r_keywords; ?></textarea></td>
     </tr>
     <tr>
         <td style="width:15%;text-align:right;">描述：</td>
         <td><textarea name="r_description" class="textarea"><?php echo $r_description; ?></textarea></td>
     </tr>

     <tr>
         <td style="width:15%;text-align:right;">备案号：</td>
         <td><input type="text" class="textBox length-middle" name="r_icp" value="<?php echo $r_icp; ?>"/></td>
     </tr>
     <tr>
         <td style="text-align:right;">公司地址：</td>
         <td><input type="text" class="textBox length-middle" name="r_addr" value="<?php echo $r_addr; ?>"/></td>
     </tr>
    <tr>
     <td style="text-align:right;"></td>
        <input type="hidden" name="r_id" value="<?php echo $r_id; ?>"/>
     <td><input type="submit" class="tdBtn" value="更新保存"/></td>
    </tr>
   </table>
  </form>

 </div>
</body>
</html>