{include file="common/head" /}
<body>
<div class="wrap">
    <div class="page-title">
        <span class="modular fl"><i class="add_user"></i><em>banner添加</em></span>
    </div>
    <form action="/admin/img/add" method="post"  enctype="multipart/form-data">
        <table class="list-style">
            <tr>
                <td style="text-align:right;">banner图：</td>
                <td >
                    <span><input type="file" name="i_img"  class="textBox " id="up_img2" /></span>
                    <span id="imgdiv2">
                        <img src="" id="imgShow2" width="100" height="100" />
                    </span>
                </td>
            </tr>
            <script>
                window.onload = function () {
                    new uploadPreview({ UpBtn: "up_img2", DivShow: "imgdiv2", ImgShow: "imgShow2" });
                }
            </script>
            <tr>
                <td style="text-align:right;">展示平台：</td>
                <td>
                    <select name="i_status" class="textBox">
                        <option value="0">--不限--</option>
                        <option value="1">--快出房--</option>
                        <option value="2">--青年公寓--</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">排序：</td>
                <td><input type="text" name="i_sort" class="textBox length-middle" value="1" /></td>
            </tr>
            <tr>
                <td style="text-align:right;"></td>
                <td><input type="submit" value="添加" class="tdBtn"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
<script>
    $('#cu_id').on('change',function(){
        var name = $("#cu_id").find("option:selected").text();
       $('#c_name').val(name);
    })
</script>
</html>