{include file="common/head" /}
<body>
<div class="wrap">
    <div class="page-title">
        <span class="block fl"><i class="order"></i><em>banner图列表</em></span>
    </div>
    <table class="list-style">
        <tr>
            <th  class="center">编号</th>
            <th  class="center">图片</th>
            <th  class="center">展示平台</th>
            <th  class="center">排序</th>
            <th  class="center">状态</th>
            <th  class="center">上传时间</th>
            <th  class="center">操作</th>
        </tr>
        <?php if(!empty($list)){ ?>
        <?php foreach($list as $k => $v){ ?>
        <tr>
            <td class="center">
                <a href="order_detail.html"><?php echo $k; ?></a>
            </td>
            <td class="center">
                <span class="block"> <img style="max-height:200px;max-width:200px" src="{$Think.PROJECT_PATH}/public/uploads/<?php echo $v['i_img'] ;?>" alt=""> </span>
            </td>
            <td class="center">
                <span class="block"><?php echo img_status($v['i_status']); ?></span>
            </td>
            <td class="center">
                <span class="block"><?php echo $v['i_sort']; ?></span>
            </td>
            <td class="center">
                <span class="block"><?php echo $v['i_level']; ?></span>
            </td>
            <td class="center">
                <span class="block"><?php echo date('Y-m-d H:i:s',$v['i_ctime']);  ?></span>
            </td>
            <td class="center" width="260">
                <a href="/admin/img/update?id=<?php echo $v['i_id']; ?>" class="inline-block" title="查看"><img src="{$Think.PROJECT_PATH}/public/static/ht/model/images/icon_view.gif"/></a>
                <a href="/admin/img/del?id=<?php echo $v['i_id']; ?>" class="inline-block" title="删除"><img src="{$Think.PROJECT_PATH}/public/static/ht/model/images/icon_trash.gif"/></a>
            </td>
        </tr>
        <?php }} ?>
    </table>
</div>
</body>
</html>