{include file="common/head" /}
<style>
 html{height:100%;}
 html body{height:100%;background: #000 url({$Think.PROJECT_PATH}/public/static/ht/model/images/loginbg.jpg) no-repeat center;background-size:cover;}
</style>
<body>
<div class="login">
 <header>
  <h1>后台登陆</h1>
 </header>
 <div class="sr">
  <div class="logininput">
   <label>
    <i class="sublist-icon glyphicon glyphicon-user"></i>
   </label>
   <input type="text" name="username" placeholder="用户名"  >
  </div>
  <div class="logininput">
   <label>
    <i class="sublist-icon glyphicon glyphicon-pencil"></i>
   </label>
   <input type="password"  name="pw" placeholder="密码" >
  </div>
  <button  type="button" class="loginbtn" >登陆</button>
 </div>
</div>
<div class="login_bottom_msg" >
 <p>适用浏览器：360、FireFox、Chrome、Opera、傲游、搜狗、世界之窗. 不支持Safari、IE8及以下浏览器。</p>
 <p>卉生科技技术支持</p>
</div>

</body>
</html>
