{include file="common/head" /}
<style>
    .many-rule{

    }
</style>

<body>
<div class="wrap">
    <div class="page-title">
        <span class="block fl"><i class="order"></i><em>用户列表</em></span>
    </div>
    <div class="operate">
        <form action="user/index" method="post" target="mainCont">
            <img class="edit_top" src="{$Think.PROJECT_PATH}/public/static/ht/model/images/icon_search.gif"/>
            <input type="text" name="u_name" class="textBox length-long" style="width:130px" placeholder="用户名..."/>
            <input type="text" name="u_phone" class="textBox length-long" style="width:130px" placeholder="手机号..."/>
                <input type="checkbox" name="tuijian[]" value="1" />
                租客
                <input type="checkbox" name="tuijian[]" value="2"/>
                房东
                <input type="checkbox" name="tuijian[]" value="3"/>
                职业房东
                <input type="checkbox" name="tuijian[]" value="4"/>
                职业经纪人
            <select name="u_sex" class="inline-select">
                <option value="0">--性别--</option>
                <option value="1">--男--</option>
                <option value="-1">--女--</option>
            </select>
            <input type="submit" value="查询" class="tdBtn"/>
        </form>
    </div>
    <table class="list-style">
        <tr>
            <th>名称</th>
            <th>性别</th>
            <th>角色</th>
            <th>手机号</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        <?php if(!empty($list)){ ?>
        <?php foreach($list as $v){ ?>
        <tr>
            <td class="center">
                <span class="block"><?php echo $v['u_name'] ?></span>
            </td>
            <td class="center" >
                <span class="block"><?php echo user_sex($v['u_sex']); ?></span>
            </td>
            <td class="center" >
                <span class="block">
                    <?php
                    if($v['u_one'] == 1){echo '租客、';}
                    if($v['u_two'] == 1){echo '房东、';}
                    if($v['u_three'] == 1){echo '职业房东、';}
                    if($v['u_four'] == 1){echo '职业经纪人';}
                    ?>
                </span>
            </td>
            <td class="center" >
                <span class="block"><?php echo $v['u_phone'] ?></span>
            </td>
            <td class="center">
                <span class="block"><?php echo date('Y-m-d H:i:s',$v['u_ctime']);  ?></span>
            </td>
            <td class="center" width="260">
                <a href="user/update.html?id=<?php echo $v['u_id'] ?>" class="inline-block" title="查看"><img src="{$Think.PROJECT_PATH}/public/static/ht/model/images/icon_view.gif"/></a>
                <a class="inline-block" title="删除"><img src="{$Think.PROJECT_PATH}/public/static/ht/model/images/icon_trash.gif"/></a>
            </td>
        </tr>
        <?php }} ?>
    </table>
    <!-- BatchOperation -->
    <div style="overflow:hidden;">
        <!-- Operation -->
        <!--<div class="BatchOperation fl">-->
            <!--<input type="checkbox" id="del"/>-->
            <!--<label for="del" class="btnStyle middle">全选</label>-->
            <!--<input type="button" value="打印" class="btnStyle"/>-->
            <!--<input type="button" value="删除" class="btnStyle"/>-->
        <!--</div>-->
        <!-- turn page -->
        <div class="turnPage center fr">
            <a>第一页</a>
            <a>1</a>
            <a>最后一页</a>
        </div>
    </div>
</div>
</body>
</html>