{include file="common/head" /}
<body>
<form action="update" method="post" enctype="multipart/form-data">
    <div class="wrap">
  <div class="page-title">
     <span class="modular fl"><i class="edit_user"></i><em>用户基本资料</em></span>
  </div>
      <input type="hidden" class="textBox length-middle" name="u_id" value="<?php echo $u_id; ?>"/>
     <table class="list-style">
    <tr>
     <td style="width:15%;text-align:right;">会员昵称：</td>
     <td><input type="text" class="textBox length-middle" name="u_name" value="<?php echo $u_name; ?>" /></td>
    </tr>
    <tr>
     <td style="text-align:right;">手机号码：</td>
     <td><input type="text" class="textBox length-middle" name="u_phone" value="<?php echo $u_phone; ?>" /></td>
    </tr>
     <tr>
         <td style="text-align:right;">注册时间：</td>
         <td><input type="text" disabled class="textBox length-middle" value="<?php echo date('Y-m-d H:i:s',$u_ctime); ?>" /></td>
     </tr>
    <tr>
     <td style="text-align:right;">角色：</td>
     <td>
         <input class="user_rule" <?php if($u_one ==1 ){echo "checked";} ?> type="checkbox" value="<?php echo $u_one?$u_one:-1; ?>"  name="u_one"/>租客、
         <input class="user_rule" <?php if($u_two ==1 ){echo "checked";} ?> type="checkbox" value="<?php echo $u_two?$u_two:-1; ?>" name="u_two"/>房东、
         <input class="user_rule" <?php if($u_three ==1 ){echo "checked";} ?> type="checkbox" value="<?php echo $u_three?$u_three:-1; ?>" name="u_three"/>职业房东、
         <input class="user_rule" <?php if($u_four ==1 ){echo "checked";} ?> type="checkbox" value="<?php echo $u_four?$u_four:-1; ?>" name="u_four"/>职业经纪人、
         <input class="user_rule" <?php if($u_five ==1 ){echo "checked";} ?> type="checkbox" value="<?php echo $u_five?$u_five:-1; ?>" name="u_five"/>服务/维修方
     </td>
        <script>
            $('.user_rule').on('click',function(){
                var num = $(this).val();
                if(num ==1){
                    var user_data = '-1';
                }else{
                    var user_data = 1;
                }
                $(this).val(user_data);
            })
        </script>
         </tr>
         <tr>
             <td style="text-align:right;">邀请码（邀请别人）：</td>
             <td><input disabled type="text" value="<?php echo $u_ma ?>"  class="textBox length-long" /></td>
         </tr>
         <tr>
             <td style="text-align:right;">受邀码（被邀请）：</td>
             <td><input disabled type="text" value="<?php echo $u_mato ?>"  class="textBox length-long" /></td>
         </tr>
         <!--<tr>-->
             <!--<td style="text-align:right;">租房福利券</td>-->
             <!--<td>-->
                 <!--总数：<input disabled type="text"  class="textBox length-short" />-->
                 <!--使用：<input disabled type="text"  class="textBox length-short" />-->
                 <!--转赠：<input disabled type="text"  class="textBox length-short" />-->
                 <!--剩余：<input disabled type="text"  class="textBox length-short" />-->
             <!--</td>-->
         <!--</tr>-->
   </table>
 </div>
    <div class="wrap">
        <div class="page-title">
            <span class="modular fl"><i class="edit_user"></i><em>用户主房资料</em></span>
        </div>
        <input type="hidden" class="textBox length-middle" name="u_id" value="<?php echo $u_id; ?>"/>
        <table class="list-style">
            <tr>
                <td style="width:15%;text-align:right;">暂住房源：</td>
                <td><a href="/admin/house/update?id=<?php echo $uh_id ?>"><?php echo $uh_id ?></a></td>
            </tr>
            <tr>
                <td style="text-align:right;">月租金：</td>
                <td><input disabled type="text" class="textBox length-middle" value="<?php echo $u_zujin; ?>" /></td>
            </tr>
            <tr>
                <td style="text-align:right;">住房押金：</td>
                <td><input type="text" disabled class="textBox length-middle" value="<?php echo $u_yajin; ?>" /></td>
            </tr>
            <tr>
                <td style="text-align:right;">余额：</td>
                <td><input type="text" disabled class="textBox length-middle" value="<?php echo $u_money1; ?>" /></td>
            </tr>
            <tr>
                <td style="text-align:right;">入住时间：</td>
                <td><input disabled type="text" value="<?php echo date('Y-m-d H:i:s',$u_intime); ?>"  class="textBox length-long" /></td>
            </tr>
            <tr>
                <td style="text-align:right;">退房时间：</td>
                <td><input disabled type="text" value="<?php echo date('Y-m-d H:i:s',$u_outtime); ?>"  class="textBox length-long" /></td>
            </tr>
            <tr>
                <td style="text-align:right;">房源收藏：</td>
                <td><input disabled type="text" value="<?php echo json_decode($u_shoucang,true); ?>"  class="textBox length-long" /></td>
            </tr>
        </table>
    </div>
    <div class="wrap">
        <div class="page-title">
            <span class="modular fl"><i class="edit_user"></i><em>更多资料</em></span>
        </div>
        <table class="list-style">
            <tr>
                <td style="width:15%;text-align:right;">真实姓名：</td>
                <td><input type="text" class="textBox length-middle" name="u_tname" value="<?php echo $u_tname; ?>" /></td>
            </tr>
            <tr>
                <td style="width:15%;text-align:right;">身份证号：</td>
                <td><input type="text" class="textBox length-middle" name="u_num" value="<?php echo $u_num; ?>" /></td>
            </tr>
            <tr>
                <td style="width:15%;text-align:right;">商业保证金：</td>
                <td><input type="text" class="textBox length-middle" name="u_money" value="<?php echo $u_money; ?>" /></td>
            </tr>
            <script>
                window.onload = function () {
                    new uploadPreview({ UpBtn: "up_img", DivShow: "imgdiv", ImgShow: "imgShow" });
                    new uploadPreview({ UpBtn: "up_img1", DivShow: "imgdiv1", ImgShow: "imgShow1" });
                    new uploadPreview({ UpBtn: "up_img2", DivShow: "imgdiv2", ImgShow: "imgShow2" });
                }
            </script>
            <tr>
                <td style="text-align:right;">证件照片：</td>
                <td >
                    <span><input type="file" name="u_img"  class="textBox " id="up_img" /></span>
                    <span id="imgdiv">
                        <?php if(!empty($u_img)){ ?>
                            <img src="{$Think.PROJECT_PATH}/public/uploads/{$u_img}" id="imgShow" width="100" height="100" />
                        <?php }else{ ?>
                            <img src="" id="imgShow" width="100" height="100" />
                        <?php } ?>
                    </span>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">身份证正面照：</td>
                <td>
                    <input type="file" name="u_num0"  class="textBox " id="up_img1"  />
                    <span id="imgdiv1">
                        <?php if(!empty($u_num0)){ ?>
                            <img src="{$Think.PROJECT_PATH}/public/uploads/{$u_num0}"  id="imgShow1" width="100" height="100" />
                        <?php }else{ ?>
                            <img src=""  id="imgShow1" width="100" height="100" />
                        <?php } ?>
                    </span>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;">身份证反面照：</td>
                <td><input type="file" name="u_num1"  class="textBox " id="up_img2"  />
                    <span id="imgdiv2">
                        <?php if(!empty($u_num1)){ ?>
                            <img  src="{$Think.PROJECT_PATH}/public/uploads/{$u_num1}" id="imgShow2" width="100" height="100" />
                        <?php }else{ ?>
                            <img  src="" id="imgShow2" width="100" height="100" />
                        <?php } ?>
                    </span>
                </td>
            </tr>
            <!--<tr>-->
                <!--<td style="text-align:right;">非租房福利券：</td>-->
                <!--<td>-->
                    <!--总数：<input disabled type="text"  class="textBox length-short" />-->
                    <!--使用：<input disabled type="text"  class="textBox length-short" />-->
                    <!--剩余：<input disabled type="text"  class="textBox length-short" />-->
                <!--</td>-->
            <!--</tr>-->
            <tr>
                <td style="text-align:right;"></td>
                <td><input type="submit" class="tdBtn" value="更新保存"/></td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>