{include file="common/head" /}
<body>
<form action="update" method="post" enctype="multipart/form-data">
    <div class="wrap">
  <div class="page-title">
     <span class="modular fl"><i class="edit_user"></i><em>用户基本资料</em></span>
  </div>
      <input type="hidden" class="textBox length-middle" name="u_id" value="<?php echo $u_id; ?>"/>
     <table class="list-style">
    <tr>
     <td style="width:15%;text-align:right;">会员昵称：</td>
     <td><input type="text" class="textBox length-middle" name="u_name" value="<?php echo $u_name; ?>" /></td>
    </tr>
    <tr>
     <td style="text-align:right;">手机号码：</td>
     <td><input type="text" class="textBox length-middle" name="u_phone" value="<?php echo $u_phone; ?>" /></td>
    </tr>
     <tr>
         <td style="text-align:right;">注册时间：</td>
         <td><input type="text" disabled class="textBox length-middle" value="<?php echo date('Y-m-d H:i:s',$u_ctime); ?>" /></td>
     </tr>
    <tr>
     <td style="text-align:right;">角色：</td>
     <td>
         <input <?php if($u_one ==1 ){echo "checked";} ?> type="checkbox" value="<?php echo $u_one?$u_one:-1; ?>"  name="u_one" id="jingpin1"/>
         <label for="jingpin1">租客</label>
         <input <?php if($u_two ==1 ){echo "checked";} ?> type="checkbox" value="<?php echo $u_two?$u_one:-1; ?>" name="u_two" id="jingpin2"/>
         <label for="jingpin2">房东</label>
         <input <?php if($u_three ==1 ){echo "checked";} ?> type="checkbox" value="<?php echo $u_three?$u_one:-1; ?>" name="u_three" id="jingpin3"/>
         <label for="jingpin3">职业房东</label>
         <input <?php if($u_four ==1 ){echo "checked";} ?> type="checkbox" value="<?php echo $u_four?$u_one:-1; ?>" name="u_four" id="jingpin4"/>
         <label for="jingpin4">职业经纪人</label>
     </td>
         </tr>
         <tr>
             <td style="text-align:right;">邀请码：</td>
             <td><input disabled type="text" value="<?php echo $u_ma ?>"  class="textBox length-long" /></td>
         </tr>
         <tr>
             <td style="text-align:right;">受邀码：</td>
             <td><input disabled type="text" value="<?php echo $u_mato ?>"  class="textBox length-long" /></td>
         </tr>

         <tr>
             <td style="text-align:right;">租房福利券</td>
             <td>
                 总数：<input disabled type="text"  class="textBox length-short" />
                 使用：<input disabled type="text"  class="textBox length-short" />
                 转赠：<input disabled type="text"  class="textBox length-short" />
                 剩余：<input disabled type="text"  class="textBox length-short" />
             </td>
         </tr>
   </table>
 </div>
    <div class="wrap">
        <div class="page-title">
            <span class="modular fl"><i class="edit_user"></i><em>更多资料</em></span>
        </div>
        <table class="list-style">
            <tr>
                <td style="width:15%;text-align:right;">真实姓名：</td>
                <td><input type="text" class="textBox length-middle" name="u_name" value="<?php echo $u_name; ?>" /></td>
            </tr>
            <tr>
                <td style="width:15%;text-align:right;">身份证号：</td>
                <td><input type="text" class="textBox length-middle" name="u_num" value="<?php echo $u_num; ?>" /></td>
            </tr>
            <tr>
                <td style="width:15%;text-align:right;">押金：</td>
                <td><input type="text" class="textBox length-middle" name="u_money" value="<?php echo $u_money; ?>" /></td>
            </tr>
            <script>
                window.onload = function () {
                    new uploadPreview({ UpBtn: "up_img", DivShow: "imgdiv", ImgShow: "imgShow" });
                    new uploadPreview({ UpBtn: "up_img1", DivShow: "imgdiv1", ImgShow: "imgShow1" });
                    new uploadPreview({ UpBtn: "up_img2", DivShow: "imgdiv2", ImgShow: "imgShow2" });
                }
            </script>
            <tr>
                <td style="text-align:right;">证件照片：</td>
                <td ><span><input type="file" name="u_img"  class="textBox " id="up_img" /></span><span id="imgdiv"><img src="{$Think.PROJECT_PATH}/public/uploads/{$u_img}" id="imgShow" width="100" height="100" /></span></td>
            </tr>
            <tr>
                <td style="text-align:right;">身份证正面照：</td>
                <td><input type="file" name="u_num0"  class="textBox " id="up_img1"  /><span id="imgdiv1"><img src="{$Think.PROJECT_PATH}/public/uploads/{$u_num0}"  id="imgShow1" width="100" height="100" /></span></td>
            </tr>
            <tr>
                <td style="text-align:right;">身份证反面照：</td>
                <td><input type="file" name="u_num1"  class="textBox " id="up_img2"  /><span id="imgdiv2"><img  src="{$Think.PROJECT_PATH}/public/uploads/{$u_num1}" id="imgShow2" width="100" height="100" /></span></td>
            </tr>
            <tr>
                <td style="text-align:right;">非租房福利券：</td>
                <td>
                    总数：<input disabled type="text"  class="textBox length-short" />
                    使用：<input disabled type="text"  class="textBox length-short" />
                    剩余：<input disabled type="text"  class="textBox length-short" />
                </td>
            </tr>
            <tr>
                <td style="text-align:right;"></td>
                <td><input type="submit" class="tdBtn" value="更新保存"/></td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>