{include file="common/head" /}
<body>
 <div class="wrap">
  <div class="page-title">
     <span class="modular fl"><i class="edit_user"></i><em>用户申请</em></span>
  </div>
  <form action="/admin/shenqing/add" method="post" enctype="multipart/form-data">
     <table class="list-style">
         <tr>
             <td style="text-align:right;">申请者：</td>
             <td>
                 <select name="su_id" class="textBox">
                     <?php foreach($users as  $v){ ?>
                     <option value="<?php echo $v['u_id'] ?>" ><?php echo $v['u_name'] ?></option>
                     <?php } ?>
                 </select>
             </td>
         </tr>
         <tr>
             <td style="width:15%;text-align:right;">真实姓名：</td>
             <td><input type="text" class="textBox length-middle" name="s_name" /></td>
         </tr>
        <tr>
         <td style="text-align:right;">身份证号：</td>
         <td><input type="text" class="textBox length-middle" name="s_num" /></td>
        </tr>
         <tr>
             <td style="text-align:right;">申请类型：</td>
             <td>
                 <select name="s_level" class="textBox">
                     <option value=0 >--请选择--</option>
                     <option value=1>--职业房东--</option>
                     <option value=2>--职业经纪人--</option>
                     <option value=3>--房源转到青年公寓--</option>
                     <option value=4>--房产认证--</option>
                     <option value=5>--实名认证--</option>
                 </select>
             </td>
         </tr>
         <tr>
             <td style="text-align:right;">押金：</td>
             <td><input type="text" class="textBox length-middle" placeholder="申请职业房东/经纪人--必填" name="s_money" /></td>
         </tr>
         <tr>
             <td style="text-align:right;">证件照片：</td>
             <td><input type="file" name="s_img" class="textBox " /></td>
         </tr>
    <tr>
     <td style="text-align:right;"></td>
        <style>
            .agree{
                color: #fff;
                background-color: #337ab7;
                border-color: #2e6da4;
            }
            .no-agree{
                color: #fff;
                background-color: #d9534f;
                border-color: #d43f3a;
            }
        </style>
     <td><input type="submit" value="添加" class="tdBtn"/></td>
     <td></td>
    </tr>
   </table>
  </form>
 </div>
</body>
</html>